<br />
<form method='post' action='/items/<%= @item['id'] %>'>
  <dl>
    <dt><label for='item'>\o/ --></label></dt>
    <dd><input id='item' value='<%= @item['item'] %>' name='item' type='text' autofocus></dd>
  </dl>
  <br />
  <dl>
    <dt><label for='details'>Details:</label></dt>
    <dd><textarea id='details' name='details'><%= @item['details'] %></textarea></dd>
  </dl>
  <button>Update Task</button>
</form>
