<br />
  <p>You've got a little list...</p>
<br />
  <section>
    <% @items.each do |item| %>
      <dl>
        <dt>Item: </dt><dd><%= item['item'] %></dd>
      </dl>
      <a href="/items/<%= item['id'] %>">show</a>
      <p></p>
    <% end %>
  </section>
