  <section>
    <% @items.each do |item| %>
    <br />
      <dl>
        <dt>\o/ --></dt>
        <dd><%= item['item'] %></dd>
      </dl>
      <p></p>
      <div class="goright"><a href="/items/<%= item['id'] %>" class="button">show</a></div>
      <p></p>
      <p></p>
    <% end %>
  </section>
