<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To Do List</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="backcolor">
  <center>
      <h1>To Do List</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/items/new">New Item</a></li>
      </ul>
    </nav>
  </center>
  <div class="content">
    <br />
    <%= yield %>
    <br />
  </div>
  </div>
</body>
</html>