<br />
<section>
  <article>
    <dl>
      <dt>\o/ --></dt>
      <dd><%= @item['item'] %></dd>
    </dl>
    <br />
    <dl>
      <dt>Details:</dt>
      <dd><%= @item['details'] %></dd>
    </dl>
  </article>
</section>
<br />
<form method='post' action='/items/<%= @item['id'] %>/delete'>
<a href="/items/<%= @item['id'] %>/edit" class="button">Edit</a> | <button>Delete</button> 
</form>
<br />
<br />
<br />