body {
  background-color: orange;
  color: black;
  text-align: left;
  width: 960px;
  margin: 0px auto 0px auto;
  font-family: Arial, Helvetica, 'Times New Roman';
}

.backcolor {
  border-radius: 10px;
  background: linear-gradient(yellow, yellow, orange);
  width: 500px;
  position:absolute;
      top: 5%;
      left: 50%;
      width:30em;
      margin-left: -15em;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
}

.goright {
  text-align: right;
  border-bottom: black 1px solid;
}

textarea {
    width: 300px;
    height: 150px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

nav li {
  display: inline;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  padding: 3px 7px 3px 7px;
}

a {
  color: black;
  text-decoration: none;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 20%;
  padding: 0;
  margin: 0
}
dd {
  float: right;
  width: 80%;
  padding: 0;
  margin: 0
}

.button {
  border-radius: 5px;
  font: 11px Arial;
  text-decoration: none;
  background-color: #FFFFFF;
  color: black;
  padding: 3px 10px 2px 10px;
}